{% extends 'shop/index.html' %}

{% block body %}
<div class="container mt-3">
    <h1 class="mb-4 text-center text-warning "> <u>About EcomCart </u> </h1>
    <div class="row mb-5">
        <h2>Welcome to EcomCart</h2>
        <p>Welcome to <strong>EcomCart</strong> – a simple yet functional e-commerce project that I've developed as part of my journey in learning Django. This project demonstrates core e-commerce functionalities and provides a practical example of building a web application from scratch using Django.</p>
        <p>EcomCart serves as a platform where users can browse a catalog of products, add items to their cart, and proceed to checkout. The project focuses on delivering a smooth user experience with essential e-commerce features while also providing me with the opportunity to delve deeper into Django and web development practices.</p>
        <p>This project not only highlights the capabilities of Django but also reflects my progress and understanding of web development concepts. Through EcomCart, I've gained valuable insights into both back-end and front-end development, which are crucial for building robust and user-friendly web applications.</p>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
            <section>
                <h2 class="h3 mb-3">My Learnings</h2>
                <p>During the development of EcomCart, I gained hands-on experience with:</p>
                <ul>
                    <li><strong>Django Framework</strong>: Learned to set up and configure Django, including models, views, and templates, to build a functional web app using its MVC architecture.</li>
                    <li><strong>Database Integration</strong>: Managed data using Django’s ORM, performing CRUD operations and handling schema changes with migrations.</li>

                    <li><strong>Front-End Integration</strong>: Used Bootstrap for a responsive UI, integrating front-end design with Django’s back-end.</li>
                    <li><strong>JavaScript and jQuery</strong>: Enhanced interactions with dynamic content and AJAX requests, manipulating the DOM and updating the UI.</li>
                    <li><strong>Search Functionality</strong>: Implemented search features to find products by name, handling input, querying the database, and displaying results.</li>
                    <li><strong>Pagination</strong>: Managed product listings across multiple pages, improving performance and user experience with large datasets.</li>
                </ul>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h2 class="h3 mb-3">Key Features</h2>
                <p>EcomCart includes the following features:</p>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Product Listing</strong>: Displays products with images, titles, and prices.</li>
                    <li class="list-group-item"><strong>Cart Management</strong>: Users can add items to the cart, view cart details, and proceed to checkout.</li>
                    <li class="list-group-item"><strong>Checkout Process</strong>: A simple form to collect user details and finalize purchases.</li>
                    <li class="list-group-item"><strong>Search Functionality</strong>: Allows users to search for products by name.</li>
                    <li class="list-group-item"><strong>Pagination</strong>: Allows users to Navigate to different pages and see the products.</li>
                    <li class="list-group-item"><strong>Responsive Design</strong>: The website adjusts to different screen sizes for a seamless experience on desktops, tablets, and smartphones.</li>
                </ul>
            </section>
        </div>
    </div>

    <div class="row mb-5">
        
        <div class="col-md-6">
            <section>
                <h2 class="h3 mb-3">Technologies Used</h2>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="bi bi-gear"></i> <strong>Django</strong>: For building the web application and managing the back-end.</li>
                    <li class="mb-2"><i class="bi bi-bootstrap"></i> <strong>Bootstrap</strong>: For responsive and modern design.</li>
                    <li class="mb-2"><i class="bi bi-javascript"></i> <strong>jQuery</strong>: For handling dynamic content and AJAX requests.</li>
                    <li class="mb-2"><i class="bi bi-code-slash"></i> <strong>JavaScript</strong>: For client-side interactions and cart management.</li>
                </ul>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <h2 class="h3 mb-3">Future Enhancements</h2>
                <ul class="list-unstyled">
                    <li class="mb-2"><i class="bi bi-arrow-right-circle"></i> <strong>Payment Gateway Integration</strong>: To handle real transactions.</li>
                    <li class="mb-2"><i class="bi bi-arrow-right-circle"></i> <strong>User Reviews and Ratings</strong>: Allow users to leave feedback on products.</li>
                    <li class="mb-2"><i class="bi bi-arrow-right-circle"></i> <strong>Advanced Search</strong>: Implement filtering options for a better search experience.</li>
                </ul>
            </section>
        </div>
    </div>
    <div >
        <h2 class="h3 mb-3">GitHub Repository</h2>
        <p>You can explore the project's code and details on <a href="https://github.com/meetvivek/EcomCart-Django" target="_blank">https://github.com/meetvivek/EcomCart-Django</a>.</p>
        <p>Feel free to explore the project and provide feedback!</p>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
