{% extends 'shop/index.html' %}

{% block body%}
<div class="row flex-lg-row-reverse align-items-center g-5 py-5 mx-5">
    <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ product_object.title }}</h1>
        <p class="lead">{{ product_object.description }}</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            {% comment %} <a href="{% url 'update_item' item.id %}" class="btn btn-warning btn-lg px-4 me-md-2">Edit</a> {% endcomment %}
            <a href="#" class="btn btn-warning btn-lg px-4 me-md-2">Add to cart</a>
            <a href="#" class="btn btn-dark btn-lg px-4 me-md-2">Buy Now</a>
          </div>
      </div>
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{{ product_object.image }}" class="d-block mx-lg-auto" alt="{{ product_object.title }}" width="500" height="500" loading="lazy">
    </div>
    
  </div>


{% endblock %}